@model Job

    <meta charset="utf-8" />
    <!--<meta name=description content="This site was generated with Anima. www.animaapp.com"/>-->
    <!-- <link rel="shortcut icon" type=image/png href="https://animaproject.s3.amazonaws.com/home/favicon.png" /> -->
    <meta name="viewport" content="width=1440, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet"
          type="text/css"
          href="~/css/u1578u1601u1575u1589u1610u1604-u1575u1604u1608u1592u1610u1601u1577.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
   
    <body style="margin: 0; background: #ffffff">
        <input type="hidden"
               id="anPageName"
               name="page"
               value="u1578u1601u1575u1589u1610u1604-u1575u1604u1608u1592u1610u1601u1577" />
        <div class="container-center-horizontal">
            <div class="u1578u1601u1575u1589u1610u1604-u1575u1604u1608u1592u1610u1601u1577 screen">
                <div class="overlap-group3">
                    <div class="navbar">
                        <div class="frame-8">
                            <img class="photo_59921654693370"
                                 src="~/img/photo-5992165469337010079-y-removebg-preview-1@2x.png"
                                 alt="photo_5992165469337010079_y-removebg-preview 1" />
                            <div class="frame-2">
                                <div class="frame-3">
                                    <img class="frame-1213" src="~/img/frame-1213.svg" alt="Frame 1213" />
                                    <div class="frame-1175">
                                        <img class="vector-26" src="~/img/vector-26.svg" alt="Vector 26" />
                                        <div class="text-211 text-1 cairo-12">حسابكم</div>
                                    </div>
                                </div>
                                <div class="frame">
                                    <img class="group-15413" src="~/img/group-15413@2x.png" alt="Group 15413" />
                                    <div class="text-21 text-1 cairo-12">الإشعارات</div>
                                </div>
                                <div class="frame">
                                    <div class="group">
                                        <div class="ellipse-container">
                                            <div class="ellipse-66"></div>
                                            <div class="ellipse-66"></div>
                                            <div class="ellipse-66"></div>
                                        </div>
                                    </div>
                                    <div class="text-21 text-1 cairo-12">الرسائل</div>
                                </div>
                                <div class="frame">
                                    <img class="group-15412" src="~/img/group-15412@2x.png" alt="Group 15412" />
                                    <div class="text-21 text-1 cairo-12">الوظائف</div>
                                </div>
                                <div class="frame">
                                    <img class="group-15410" src="~/img/group-15410@2x.png" alt="Group 15410" />
                                    <div class="text-21 text-1 cairo-12">الرئيسية</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="footer">
                        <div class="frame-1157">
                            <div class="frame-1156">
                                <div class="frame-1155">
                                    <div class="frame-114">
                                        <div class="information cairo-16-b">لدعم الفني</div>
                                        <div class="frame-1 cairo-14">
                                            <div class="faq">رقم جوال</div>
                                            <div class="frame-1-item">ايميل</div>
                                            <div class="frame-1-item">رسالة</div>
                                        </div>
                                    </div>
                                    <div class="frame-114">
                                        <div class="company cairo-16-b">الإنضمام الى بوابة الخريجين</div>
                                        <div class="frame-1144 cairo-14">
                                            <div class="careers">تسجيل الدخول</div>
                                            <div class="t-us">تسجيل الدخول كخريج</div>
                                            <div class="t-us">تسجيل الدخول كجهة عمل</div>
                                        </div>
                                    </div>
                                    <div class="frame-114">
                                        <div class="product cairo-16-b">معلومات عامة</div>
                                        <div class="frame-1 cairo-14">
                                            <div class="employee-database">عن البوابة</div>
                                            <div class="payroll">أهداف بوابة الخريجين</div>
                                            <div class="frame-1-item-1">إحصائيات</div>
                                            <div class="frame-1-item-1">قصص النجاح</div>
                                            <div class="frame-1-item-1">تسجيل الدخول</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-1158">
                                    <h1 class="text-216 text-1 cairo-36-b">بوابة الخريجين</h1>
                                    <p class="text-217 text-1 cario-20">
                                        بوابة متكاملة تمكن الطلاب الخريجين للبحث عن فرص وظيفية وعرض سيرهم الذاتية إلكترونياً وتمكين الشركات
                                        المسجلة في البوابة بعرض الفرص الوظيفية الشاغرة لديهم، يمكنك الآن التسجيل والتواصل مع زملائك
                                        والاستفادة من خدمات الموقع.
                                    </p>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="frame-1152">
                                <div class="frame-1151">
                                    <div class="group-35">
                                        <div class="overlap-group">
                                            <img class="icon-lucide-icon" src="~/img/icon-lucide-icon-3.svg" alt="Icon/Lucide Icon" />
                                        </div>
                                    </div>
                                    <div class="group-35">
                                        <div class="group-3590">
                                            <div class="overlap-group-1">
                                                <img class="icon-lucide-icon" src="~/img/icon-lucide-icon-4.svg" alt="Icon/Lucide Icon" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="group-35">
                                        <div class="overlap-group1">
                                            <img class="icon-lucide-icon" src="~/img/icon-lucide-icon-2.svg" alt="Icon/Lucide Icon" />
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-1150">
                                    <div class="pricing cairo-semi-bold-voodoo-17px">حقوق النشر محفوظة 2023</div>
                                </div>
                                <img class="photo_59921654693370-1"
                                     src="~/img/photo-5992165469337010079-y-removebg-preview-1@2x.png"
                                     alt="photo_5992165469337010079_y-removebg-preview 1" />
                            </div>
                        </div>
                    </footer>
                  
                    
                          
                  
                    <div class="frame-1190-1 frame-1190-3">
                        <div class="frame-1190-2 frame-1190-3">
                            <div class="text-253 text-1 cairo-bold-smalt-blue-20px">@Model.Title</div>
                        </div>
                        <div class="frame-15446">
                            <div class="frame-15434 cairo-12">
                                <div class="frame-154">
                                    <div class="text-2 text-1">@Model.WorkLocation</div>
                                    <img class="frame-15440" src="~/img/frame-15440-6.svg" alt="Frame 15440" />
                                </div>
                                <div class="frame-154">
                                    <div class="text-2 text-1">@Model.JobType</div>
                                    <img class="frame-15442" src="~/img/frame-15442-6.svg" alt="Frame 15442" />
                                </div>
                            </div>
                            <div class="frame-15445">
                                <div class="frame-15444">
                                    <div class="text-256 text-1">@Model.User.OrganizationName</div>
                                    <div class="text-2-3 text-2-5 cairo-12">@Model.Location</div>
                                <div class="text-256 text-1">@Model.JobIndustry</div>

                                </div>
                                <img class="rectangle-4774-2 rectangle-4774-3" src="~/img/rectangle-4774-1@2x.png" alt="Rectangle 4774" />
                            </div>
                        </div>
                       

                               
                                    <div class="frame-154-2 frame-154-3">
                                        <div class="frame-119">
                                            <div class="text-2-4 text-2-5 cairo-medium-trendy-pink-13px">وصف الدور</div>
                                        </div>
                                        <div class="frame-1192">
                            <p class="text cairo-12">@if (Model.Description != null)
                                    @Model.Description
 </p>
                                        </div>
                                    </div>
                                

                               
                                    <div class="frame-154-2 frame-154-3">
                                        <div class="frame-119">
                                            <div class="text-2-4 text-2-5 cairo-medium-trendy-pink-13px">المسؤوليات الرئيسية</div>
                                        </div>
                                        <div class="frame-1192">
                            <p class="text-262 text-1 cairo-bold-granite-gray-12px"> @if (Model.Duties != null)
                                    @Model.Duties
 </p>
                                        </div>
                                    </div>
                                

                               
                                    <div class="frame-154-2 frame-154-3">
                                        <div class="frame-119">
                                            <div class="text-2-4 text-2-5 cairo-medium-trendy-pink-13px">المؤهلات</div>
                                        </div>
                                        <div class="frame-1192">
                            <p class="text cairo-12"> @if (Model.Qualification != null)
                                    @Model.Qualification
 </p>
                                        </div>
                                    </div>

                                
                                    <div class="frame-154-2 frame-154-3">
                                        <div class="frame-119">
                                            <div class="text-2-4 text-2-5 cairo-medium-trendy-pink-13px">المتطلبات</div>
                                        </div>
                                        <div class="frame-1192">
                            <p class="text cairo-12"> @if (Model.Requirements != null)
                                    @Model.Requirements
 </p>
                                        </div>
                                    </div>
                                

                               
                                    <div class="frame-154-2 frame-154-3">
                                        <div class="frame-119">
                                            <div class="text-2-4 text-2-5 cairo-medium-trendy-pink-13px">لماذا تنضم إلينا؟</div>
                                        </div>
                                        <div class="frame-1192">
                            <p class="text cairo-12">@if (Model.ReasonsToJoin != null)
                                    @Model.ReasonsToJoin
 </p>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                        <div class="frame-1212">
                            <div class="button"><div class="text-26 text-1 cairo-medium-white-14px">قدم الآن</div></div>
                            <a href="@Url.Action("JobList")" class="button-1">
                                <div class="text-26 text-1 cairo-medium-star-dust-14px">إلغاء</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  


    </body>