@model Paginator<Job>
@using Majd.Models.enums
<meta charset="utf-8" />
<!--<meta name=description content="This site was generated with Anima. www.animaapp.com"/>-->
<!-- <link rel="shortcut icon" type=image/png href="https://animaproject.s3.amazonaws.com/home/favicon.png" /> -->
<meta name="viewport" content="width=1440, maximum-scale=1.0" />
<link rel="shortcut icon" type="~/image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
<meta name="og:type" content="website" />
<meta name="twitter:card" content="photo" />
<link rel="stylesheet"
      type="text/css"
      href="~/css/u1606u1588u1585-u1575u1604u1593u1585u1590-u1575u1604u1608u1592u1610u1601u1610.css" />

<link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css” />

<link rel="stylesheet"
      type="text/css"
      href="~/css/u1608u1592u1575u1610u1620u1601-u1575u1604u1588u1585u1603u1577-2.css" />
<link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
<link rel="stylesheet" type="text/css" href="~/css/globals.css" />

<body style="margin: 0; background: #ffffff">
    <input type="hidden"
           id="anPageName"
           name="page"
           value="u1608u1592u1575u1610u1620u1601-u1575u1604u1588u1585u1603u1577-2" />
    <div class="container-center-horizontal">
        <div class="u1608u1592u1575u1610u1620u1601-u1575u1604u1588u1585u1603u1577-2 screen">
            <div class="navbar">
                <div class="frame-8">
                    <img class="photo_59921654693370"
                         src="~/img/photo-5992165469337010079-y-removebg-preview-1@2x.png"
                         alt="photo_5992165469337010079_y-removebg-preview 1" />
                    <div class="frame-2">
                        <div class="frame-3">
                            <img class="frame-1213" src="~/img/frame-1213.svg" alt="Frame 1213" />
                            <div class="frame-1175">
                                <img class="vector-26" src="~/img/vector-26.svg" alt="Vector 26" />
                                <div class="text-106 text cairo-12">حسابكم</div>
                            </div>
                        </div>
                        <div class="frame">
                            <img class="group-15413" src="~/img/group-15413@2x.png" alt="Group 15413" />
                            <div class="text-1 text cairo-12">الإشعارات</div>
                        </div>
                        <div class="frame">
                            <div class="group">
                                <div class="ellipse-container">
                                    <div class="ellipse-66"></div>
                                    <div class="ellipse-66"></div>
                                    <div class="ellipse-66"></div>
                                </div>
                            </div>
                            <div class="text-1 text cairo-12">الرسائل</div>
                        </div>
                        <div class="frame">
                            <img class="group-15412" src="~/img/group-15412@2x.png" alt="Group 15412" />
                            <div class="text-1 text cairo-12">الوظائف</div>
                        </div>
                        <div class="frame">
                            <img class="group-15410" src="~/img/group-15410@2x.png" alt="Group 15410" />
                            <div class="text-1 text cairo-12">الرئيسية</div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="flex-row flex">
                <div class="overlap-group2">
                    <div class="frame-1179">
                        <div class="text-113 text cairo-16-b">آخر الأخبار</div>
                        <div class="frame-4 roboto-regular-normal-granite-gray-12px">
                            <div class="frame-11">
                                <p class="lorem-ipsum-dolor">
                                    Lorem ipsum dolor sitLorem ipsum<br />
                                    dolor sit
                                </p>
                                <img class="frame-1" src="~/img/frame-1.svg" alt="Frame 1" />
                            </div>
                            <div class="frame-11">
                                <div class="lorem-ipsum-dolor-sit lorem-ipsum-dolor">Lorem ipsum dolor sit</div>
                                <img class="frame-1" src="~/img/frame-1.svg" alt="Frame 1" />
                            </div>
                            <div class="frame-11">
                                <div class="lorem-ipsum-dolor-sit lorem-ipsum-dolor">Lorem ipsum dolor sit</div>
                                <img class="frame-1" src="~/img/frame-1.svg" alt="Frame 1" />
                            </div>
                            <div class="frame-11">
                                <div class="lorem-ipsum-dolor-sit lorem-ipsum-dolor">Lorem ipsum dolor sit</div>
                                <img class="frame-1" src="~/img/frame-1.svg" alt="Frame 1" />
                            </div>
                            <div class="frame-11">
                                <div class="lorem-ipsum-dolor-sit lorem-ipsum-dolor">Lorem ipsum dolor sit</div>
                                <img class="frame-1" src="~/img/frame-1.svg" alt="Frame 1" />
                            </div>
                            <div class="frame-11">
                                <p class="lorem-ipsum-dolor">
                                    Lorem ipsum dolor sitLorem ipsum<br />
                                    dolor sit
                                </p>
                                <img class="frame-1" src="~/img/frame-1.svg" alt="Frame 1" />
                            </div>
                            <div class="frame-11">
                                <div class="lorem-ipsum-dolor-sit lorem-ipsum-dolor">Lorem ipsum dolor sit</div>
                                <img class="frame-1" src="~/img/frame-1.svg" alt="Frame 1" />
                            </div>
                            <div class="frame-11">
                                <div class="lorem-ipsum-dolor-sit lorem-ipsum-dolor">Lorem ipsum dolor sit</div>
                                <img class="frame-1" src="~/img/frame-1.svg" alt="Frame 1" />
                            </div>
                            <div class="frame-11">
                                <div class="lorem-ipsum-dolor-sit lorem-ipsum-dolor">Lorem ipsum dolor sit</div>
                                <img class="frame-1" src="~/img/frame-1.svg" alt="Frame 1" />
                            </div>
                        </div>
                    </div>
                </div>



                <div class="flex-col flex">
                    <div class="modal">
                        <div class="frame-15417">
                            <div class="frame-15416">
                                <div class="overlap-group">
                                    <img class="rectangle" src="~/img/rectangle-.png" alt="Rectangle " />
                                    <img class="round" src="~/img/round@2x.png" alt="Round" />
                                </div>
                            </div>
                            <div class="frame-1229">
                                <div class="frame-1227">
                                    <div class="frame-1161">
                                        <div class="modal-header">
                                            <div class="text-114 text cairo-bold-smalt-blue-20px">شركة أبل</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <form class="d-flex">
                        <select class="form-control" name="selectedIndustry" asp-controller="Job" asp-action="JobList">
                            <option value="">Select Industry</option>
                            @foreach (var item in Enum.GetValues(typeof(JobIndustry)))
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Filter</button>

                        </div>
                    </form>

                   

                    <div class="frame-container">
                        <div class="frame-15443 cairo-12">
                            
                                @if (Model != null)
                                {
                                    @foreach (var job in Model.Items)
                                    {

                                       <div class="frame-15436">
                                        <div class="frame-15434">
                                            <div class="frame-154">
                                                <div class="text-1-1 text-1-5">@job.WorkLocation</div>
                                                <img class="frame-15440" src="~/img/frame-15440.svg" alt="Frame 15440" />
                                            </div>
                                            <div class="frame-154">
                                                <div class="text-1-1 text-1-5">@job.JobType</div>
                                                <img class="frame-15442" src="~/img/frame-15442.svg" alt="Frame 15442" />
                                            </div>
                                            <div class="frame-154">

                                                <form asp-action="DeleteJob" method="post" style="display: inline;">
                                                    @Html.Hidden("id", job.Id)
                                                    <button type="submit" class="btn btn-sm btn-outline-danger">حذف</button>
                                                </form>

                                            </div>
                                        </div>
                                        <div class="frame-15435">
                                            <div class="frame-1-1">
                                                <div class="frame-15432">
                                                    <div class="text-1-2 text-1-5 cairo-16-b">@job.Title</div>
                                                 </div>
                                                <div class="text-1-4 text-1-5">@job.Location</div>
                                                <a href="@Url.Action("JobDetails", new { id = job.Id })" class="cairo-medium-trendy-pink-13px">تفاصيل</a>

                                            </div>
                                            <img class="rectangle-4774" src="~/img/rectangle-4774@2x.png" alt="Rectangle 4774" />

                                        </div>

 </div>
                                    }
                                }
                           
                        </div>



                        <div class="frame-1192">
                            <div class="frame-12">
                                <div class="frame-1190">
                                    <div class="text-11 text cairo-semi-bold-dove-gray-14px">معلومات الشركة</div>
                                </div>
                            </div>
                            <div class="frame-12">
                                <div class="frame-1190"><div class="text-11 text cairo-semi-bold-dove-gray-14px">المنشورات</div></div>
                            </div>
                            <div class="frame-1221">
                                <div class="frame-1190-1">
                                    <div class="text-117 text cairo-semi-bold-trendy-pink-14px">الوظائف</div>
                                </div>
                            </div>
                            <div class="frame-12">
                                <div class="frame-1190">
                                    <a asp-action="CreateJobOffer" class="btn btn-primary form-control text-11 text cairo-semi-bold-trendy-pink-14px">
                                        وظّف الآن                                </a>

                                </div>
                            </div>

                        </div>


                    </div>



                </div>
            </div>
        </div>

    </div>


</body>