@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "Pending Registrations";
}
<h1>Employer Request</h1>
@if (Model.Any())
{

    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Organization Name : @user.OrganizationName
            </div>
            <div class="card-body">
                <h5 class="card-title"> Organization Email : @user.Email</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-controller="Admin" asp-action="ApproveEmployer" asp-route-UserId="@user.Id">Approve </a>
                <a class="btn btn-danger">Reject</a>
            </div>
            <form method="post" asp-controller="Admin" asp-action="RejectEmployer" asp-route-UserId="@user.Id">
                <label for="rejectionReason">Reason for rejection:</label><br />
                <textarea id="rejectionReason" name="rejectionReason" rows="4" cols="50"></textarea><br />
                <input type="hidden" name="userId" value="@user.Id" />
                <input type="submit" value="Reject" />
            </form>


        </div>

    }
}
else
{
    <div class="card">
        <div class="card-header">
            no incoming requastes
        </div>
    </div>
}